.contact_images
{
  display:block;
  width: 335px;
  height:194px;
  margin-left: auto;
  margin-right: auto;
}
/*titles*/
.oneloop-joinus-title {
  color:#022851;  
  font-family:Playfair Display;
  font-size: 30;
  text-align : center;
  
}

.oneloop-joinus-heading1 {
  color:#022851;  
  font-family:Playfair Display;
  font-size: 24px;
}

.oneloop-joinus-applicationtitle {
  color:#022851;  
  font-family:Playfair Display;
  font-size:20px;
  text-align : center;
}


.oneloop-joinus-heading25 {
  font-family: 'Open Sans', Arial, sans-serif;
  font-style: italic;
  font-size: 11;
  text-align : center;
}

.apply_input
{
  width:273px;
  height:33px;
  border-width:1px;
  border-style: solid;
  border-color:black;
}

/*text*/
/*basic qualifications bullet points*/
li {
  font-family: 'Open Sans', Arial, sans-serif;
  padding: 12px 10px;
  font-size:14px;
}

/*does this do anything? lol */
.BasicQ {
  font-family:'Open Sans';
  font-size:14px;
}

body {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size:14px;
}

.optional{
  color:#696969;
  padding-right:20px;
}

/*containers*/
.oneloop-joinus-topcontainer {
  padding: 12px 20px;
  display: flex; 
  flex-direction: column;
  order: 1;
}

.oneloop-joinus-mainimage {
  text-align : center; 
  display: flex; 
  flex-direction: column;
  order: 2;
}

.oneloop-joinus{
  padding: 12px 20px;
  display: flex; 
  flex-direction: column;
  order: 3;
}

.oneloop-joinus-basic-qualifications {
  padding: 12px 20px;
  display: flex; 
  flex-direction: column;
  order: 4;
}

.oneloop-joinus-application {
  padding: 12px 20px;
  display: flex; 
  flex-direction: column;
  order: 5;
}

.oneloop-joinus-contact{
  padding: 12px 20px;
  display: flex; 
  flex-direction: column;
  order: 4;
}

/*hiding/displaying sections*/

a {
    color:#022851;  
    text-decoration: none;
    margin: 5px; 
}

a:active{
    text-decoration:underline;  
}


#workwithus{
  display: none;
}


#workwithus:target{
  display: block;
}
#joinus:target{
  display: block;
}

#joinus{
  display: none;
}




/*other stuff*/
.Application {
  display: flex;
  flex-direction: column;
}

.Apply_message {
  width: 273px;
  height: 100px;
  padding: 12px 20px;
  font-size: 14px;
  resize: none;
  border-width:1px;
  border-color:black;
  margin-top: 1em;
}

.Apply_message1
{
  width: 273px;
  height: 100px;
  padding: 12px 20px;
  font-size: 14px;
  resize: none;
  border-width:1px;
  border-color:black;
}
.addfile_button {
  padding: 10px 10px;
  background-color: white;
}

/*for checkboxes*/
.JoinUs_button {
  color:white;
  background-color:#022851;
  font-family:open sans;
  border-radius:10px;
  margin-top: 2em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 2em;
  padding-right: 2em;
  margin-bottom: 2em;
}

.apply
{
  color:#686868
}

/*Questionnare*/
.Questionnare
{
  display: flex;
  flex-direction: column;
}

.Q_s
{
  font-weight:bold;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size:14px;

}

.Other_line
{
  
  width:178px;
  height:15px;
  border-width:1px;
  border-color:black;
  margin-left:0.5em;
}

/*contact*/
.joinus-contact
{
  display: flex;
  flex-direction: column;
}
.contact_form
{
  width:273px;
  height:33px;
  border-width:1px;
  border-color:black;
}

/*active links*/

.join_link:visited
{
  color:#022851;
  text-decoration:underline;
}
.join_link:visited{
  color:#022851;
  text-decoration:underline;
}

.join_link:hover
{
  color:#022851;
  text-decoration:underline;
}


/*desktop*/
@media only screen and (min-width: 1000px) {

  .contact_images
{
  width: 1234px;
  height:509px;
  Top:241px;
  Left:99px;
  margin-bottom:20px;
}
  /*titles*/
  .oneloop-joinus-title {
    color:#022851;  
    font-family:Playfair Display;
    font-size: 40px;
    text-align : left;
    
  }

  .oneloop-joinus-heading1 {
    color:#022851;  
    font-family:Playfair Display;
    font-size: 28px;
    text-align : left;
  }

  .oneloop-joinus-applicationtitle {
    color:#022851;  
    font-family:Playfair Display;
    font-size:28px;
    text-align : left;
  }


  .oneloop-joinus-heading25 {
    font-family: 'Open Sans', Arial, sans-serif;
    font-style: italic;
    font-size: 26px;
    text-align : left;
  }

  .apply_input
  {
    width:273px;
    height:33px;
    border-width:1px;
    border-style: solid;
    border-color:black;
  }


  .BasicQ
  {
    font-family:'Open Sans';
  font-size:18px;
  font-weight:400px;
  }
  /*text*/
  /*basic qualifications bullet points*/
  li {
    font-family: 'Open Sans', Arial, sans-serif;
    padding: 12px 12px;
    font-size:14px;
  }

  body {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size:18px;
  }

  .formtext{
    padding-right:20px;
  }

  .optional{
    color:#696969;
    padding-right:20px;
  }

  /*containers*/
  .oneloop-joinus-topcontainer {
    padding: 50px 100px;
    display: flex; 
    flex-direction: column;
    order: 1;
  }

  .oneloop-joinus-mainimage {
    text-align : center; 
    display: flex; 
    flex-direction: column;
    order: 2;
  }

  .oneloop-joinus{
    padding: 50px 100px;
    padding-bottom: 0px; 
    display: flex; 
    flex-direction: column;
    order: 3;
  }

  .oneloop-joinus-basic-qualifications {
    padding: 20px 100px;
    display: flex; 
    flex-direction: column;
    order: 4;
  }

  .oneloop-joinus-application {
    padding: 0px 100px;
    display: flex; 
    flex-direction: column;
    order: 5;
  }

  .oneloop-joinus-application-row1 {
    padding-bottom: 20px;
    display: flex; 
    flex-direction: row;
  }

  .oneloop-joinus-application-name {
    display: flex; 
    flex-direction: row;
    flex-basis: 20%;
    order: 1;
  }

  .oneloop-joinus-application-year {
    display: flex; 
    flex-direction: row;
    order: 2;
  }

  .oneloop-joinus-application-major {
    display: flex; 
    flex-direction: row;
    flex-grow: 2; 
    order: 3;
  }

  .oneloop-joinus-application-row2 {
    padding-bottom: 20px; 
    display: flex; 
    flex-direction: row;
  }

  .oneloop-joinus-application-email {
    display: flex; 
    flex-direction: row;
    flex-basis: 20%;
    order: 1;
  }

  .oneloop-joinus-application-gpa {
    display: flex; 
    flex-direction: row;
    order: 2;
  }

  

  .oneloop-joinus-contact{
    padding: 50px 100px;
    display: flex; 
    flex-direction: column;
    order: 4;
  }

  /*hiding/displaying sections*/
  a {
      color:#022851;  
      text-decoration: none;
  }

  a:active{
      text-decoration:underline;  
  }

  #workwithus{
    display: none;
  }

  #workwithus:target{
    display: block;
  }


  #joinus{
    display: none;
  }

  #joinus:target{
    display: block;
  }
.oneloop-joinus-application
{
  display: flex;
  flex-direction:column;

}

  /*other stuff*/
  .Application {
    display: flex;
    flex-direction:column;
  }
  .form_inputs
  {
    margin-bottom:20px;
  }


  .Apply_message {

    width: 1256px;
    height: 110px;
    Top:1757px;
    Left:97px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #000000;
    font-size: 16px;
    resize: none;
  }


  .addfile_button {
    padding: 10px 10px;
    width:116px;
    height:33px;
    left:102px;
    top:1548px;
    background-color: white;
  }
.addfile
{
  font-size:18px;
}
  /*for checkboxes*/
  .JoinUs_button {
    color:white;
    background-color:#022851;
    font-family:open sans;
    border-radius:10px;
    margin-top: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
    margin-bottom: 2em;
  }

  .apply
  {
    color:#686868
  }

  /*Questionnare*/
  .Questionnare
  {
    display: flex;
    flex-direction: column;
  }

  .Q_s
  {
    font-weight:bold;
    font-size:18px;
  }

  .Other_line
  {
    width:348px;
    height:20px;
    Top: 2814px;
    Left:219px;
    border: 1px solid #000000;
     box-sizing: border-box;

  }


  /*contact*/
  .joinus-contact
  {
    display: flex;
    flex-direction: column;
  }
}


/*links*/
/*selected link*/



/*active links*/

.join_link:visited
{
  color:#022851;
  text-decoration:underline;
}
.join_link:visited{
  color:#022851;
  text-decoration:underline;
}

.join_link:hover
{
  color:#022851;
  text-decoration:underline;
}

