/*mobile*/

img
{
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}
/*text*/
.oneloop-joinus-title {
  color:#022851;  
  font-family:Playfair Display;
  font-size: 30;
}

.oneloop-joinus-heading1 {
  color:#022851;  
  font-family:Playfair Display;
  font-size: 24;
}
.Application_title
{
  color:#022851;  
  font-family:Playfair Display;
  font-size:20px;
  text-align:center;
  font-weight:bold;
}


.oneloop-joinus-heading25 {
  font-family: 'Open Sans', Arial, sans-serif;
  font-style: italic;
  font-size: 11;
}


.apply_input
{
  width:273px;
  height:33px;
  border-width:1px;
  border-style: solid;
  border-color:black;
}
/*basic qualifications bullet points*/
li{
  font-family: 'Open Sans', Arial, sans-serif;
  padding: 12px 10px;
}
.BasicQ
{
  font-family:'Open Sans';
  font-size:14px;
  
}
body {
  font-family: 'Open Sans', Arial, sans-serif;
}

.optional
{
  color:#696969;
  padding-right:20px;
}
/*containers*/
.oneloop-joinus-topcontainer {
  text-align : center; 
  padding: 12px 20px;
}

.oneloop-joinus-mainimage {
  text-align : center; 
}

.oneloop-joinus{
  padding: 12px 20px;
}

.oneloop-joinus-basic-qualifications {
  padding: 12px 20px;
}

.oneloop-joinus-application {
  padding: 12px 20px;
}

.oneloop-joinus-contact{
  padding: 12px 20px;
}

/*TO DO: 
fix form boxes, padding
join us form buttons
switch bewteen work with us/join us (with underline)*/

/*Application form*/


.Application
{
  display: flex;
  flex-direction: column;
}

/*
.Apply_Message
{
   width: 100%;
   height:100%;
    padding: 60px 20px;
    display: inline-block;
    border: 1px solid #000000;
    box-sizing: border-box;
}
*/
.Apply_message
{
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  resize: none;
}


.addfile_button
{
  padding: 10px 10px;
  background-color: white;
}
/*for checkboxes*/

.JoinUs_button {
  color:white;
  background-color:#022851;
  font-family:open sans;
  border-radius:10px;
  margin-top: 2em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 2em;
  padding-right: 2em;
}

.apply
{
  color:#686868
}

/*Questionnare*/
.Questionnare
{
  display: flex;
  flex-direction: column;
}

.Q_s
{
  font-weight:bold;
}



/*contact*/

.joinus-contact
{
  display: flex;
  flex-direction: column;
}

/*Mobile*/

/*
.JoinUs_Title
{
    color:#022851;  
    font-family:Playfair Display;
}
.join_body_image
{
    margin: auto;
    margin-bottom: 8%;
    display: block;
    width: 20%;
}

input[type=text], select
{
    width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #000000;
  box-sizing: border-box;

}

input[type=message_text], select
{
    width: 100%;
    padding: 60px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #000000;
    box-sizing: border-box;
}
.JoinUs_button
{
    color:white;
    background-color:#022851;
    font-family:open sans;
    border-radius:10px;
    margin-top: 2em;
    padding-top: 0.5em;
   padding-bottom: 0.5em;
   padding-left: 2em;
   padding-right: 2em;
}

.After_pic
{
font-family: 'Open Sans', Arial, sans-serif;
font-weight: 600;
font-style: italic;
}

.Basic_Qualifications
{
    
}
.Basic_Q
{
    margin-bottom: 2em;
}
.How_to_Apply
{
    margin: 0 0 0.25em 0;
}*/


/*Tablet*/
@media only screen and (min-width: 768px) {
}

/*desktop*/

@media only screen and (min-width: 1000px) {





  .oneloop-joinus-heading1 {
    color:#022851;  
    font-family:Playfair Display;
    font-size: 24;
  }


  .JoinUs_Title {
    color: #022851;
    font-family: Playfair Display;
  }
  .After_pic {
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 600;
    font-style: italic;
  }

  .Basic_Q {
    margin-bottom: 2em;
  }

  input[type="text"],
  select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #000000;
    box-sizing: border-box;
  }

  input[type="message_text"],
  select {
    width: 100%;
    padding: 60px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #000000;
    box-sizing: border-box;
  }

  .JoinUs_button {
    color: white;
    background-color: #022851;
    font-family: open sans;
    border-radius: 10px;
    margin-top: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
  }

  .addfile_button
  {
    margin-top:1em;
  }
  .resume_letter
  {
      margin-bottom:1em;
  }
}
.Q1_space
{
    margin-top:2em;
    margin-bottom:2em;
}


.apply
{
  color:000000;
}
