@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap');

.oneloop-poddetails-title{
	color: #022851; 
	font-family: 'Playfair Display', sans-serif;
	font-size : 30; 
	text-align : center; 
    padding: 12px 20px;
}

.oneloop-poddetails-slideshow{
    padding: 12px 20px;
    text-align : center;
}


@media only screen and (min-width: 1000px) {
    .oneloop-poddetails-title{
        font-size : 40; 
        text-align : left; 
        padding: 50px 100px;
    }

    .oneloop-poddetails-slideshow{
        padding: 50px 100px;
        text-align : center;
    }
} 

/*slideshow*/
.slideshow {
    text-align: center;
}

.frame-wrapper {
    position: relative;
}

.ss-image {
    display: block;
    width: 100%;
    width: 335px;
    height: 267px;
    max-width: 100%;
    object-fit: cover;
    margin: 0 auto;
}

.ss-idle {
    position: absolute;
    top: 0;
    opacity: 0;
    transition: opacity 0.5s;
}

/*the dots at the bottom*/
.slideshow span {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 1em;
    margin-top: 1.25em;
    background-color: white;
    transition: background-color 0.3s;
    border: 1px solid #022851
}

.slideshow span.active {
    background-color: #E5E5E5;
}

.dot-wrapper {
    margin-top: 20px;
}

.dot-wrapper span {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 12px;
    background-color: white;
    transition: background-color 0.3s;
    border: 1px solid #022851
}

@media (hover: hover) {
    .slideshow span:hover {
        cursor: pointer;
        background-color: #E5E5E5;
    }
} 

@media (min-width:768px) {
    .slideshow span {
        margin-top: 1.75em;
        margin-bottom: 2em;
        width: 18px;
        height: 18px;
    }
}
